$bg-color: #f5f5f5;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$link-bg-color: #007bff;
$link-hover-bg-color: #0069d9;
$link-color: #fff;
$label-color: #333;

.contact-filter {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: $bg-color;
  box-shadow: 0 2px 4px $box-shadow-color;

  .add-pet-link,
  .add-contact-link {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: $link-bg-color;
    color: $link-color;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    &:hover {
      background-color: $link-hover-bg-color;
    }
  }

  section {
    display: inline-flex;
    margin: 0.5rem;
    align-items: flex-end;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: $label-color;
  }

  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 2px 4px $box-shadow-color;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $link-bg-color;
    }
  }
}
