.contact-preview {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  display: flex;

  flex-direction: row; /* Changed from column to row */
  align-items: center;
  justify-content: space-between;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ8BHmGk230Xg3Uq0E2xjqyGKtnas8Apf26A&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-preview p {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 18px;
  background-image: radial-gradient(closest-side, #fafafa, transparent);
}
// circle
// ellipse
// closest-side
// closest-corner
// farthest-side
// farthest-corner

.contact-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-preview button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between the buttons */
}
