<app-header></app-header>
<section class="main-app">
  <!-- <header class="container full">
    <h1>Contacts</h1> -->
  <!-- <div class="vertical-line"></div>
    <img
      src="https://static.currency.com/img/media/bitcoin.dd8a16.png"
      alt="Your image description"
      class="captured-image"
    /> -->
  <!-- </header> -->
  <main class="container">
    <!-- <chart></chart> -->
    <!-- <text-effect></text-effect> -->
    <!-- <home-page></home-page> -->
    <!-- <contact-filter></contact-filter> -->
    <router-outlet></router-outlet>
    <!-- <contact-filter></contact-filter>
    <contact-index></contact-index> -->
  </main>

  <!-- <footer class="container full">
    <p>ContactsRights &copy;</p>
  </footer> -->
</section>
